body{
    background-color: black;
}

.wrapper{
    background-color: white;
    width: 1440px;
    border-radius: 30px;
}

.header{
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    height: 104px;
    width: 704px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 52px;
    margin-left: 120px;
}

.menu_text{
    width: 53px;
    height: 36px;
    gap: 0px;
    opacity: 0px;
    font-family: Lufga;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.2em;
    text-align: left;


}

.menu_button{
    border-radius: 15px;
    border: 2px solid #1DAEFF;
    color: #1DAEFF;
    padding: 10px;
    font-family: Lufga;
}

.hero_section{
    background-image: url(img/background2.png);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1300px;
    height: 633.76px;
    border-radius: 30px;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hero_section_content{
    margin-left: 89px;
    margin-top: 92px;
    width: 600px;
    height: 257px;
    top: 226px;
    left: 159px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;

}

.hero_section_content_headline{
    width: 600px;
    height: 142px;
    top: 226px;
    left: 159px;
    gap: 0px;
    opacity: 0px;
    font-family: Lufga;
    font-size: 56px;
    line-height: 65.63px;
    text-align: left;

}

.hero_section_content_subhead{
    font-family: Lufga;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    width: 470px;
    height: 72px;
    top: 411px;
    left: 159px;
    gap: 0px;
    opacity: 0px;


}

.hero_menu{
    width: 918px;
    top: 545px;
    left: 159px;
    gap: 0px;
    opacity: 0px;
    margin-top: 100px;

}